{{ 'product-info-slider.css' | asset_url | stylesheet_tag }}


<section class="product-info-slider">
<div class="page-width">
    <div class="product-header">
        <p class="tagline">{{ section.settings.sub_title }}</p>
        <h1 class="product-title">{{ section.settings.title }}</h1>
    </div>
    <div class="swiper-container info-slider-container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="product-slide">
                <div class="product-image">
                  <img src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.title }}" width="600" height="400">
                </div>
                <div class="product-info">
                  <div class="blend-section">
                    <h2 class="blend-title">{{ block.settings.title }}</h2>

                    <div class="blend-features">
                        {% for i in (1..3) %}
                            {% assign feature_title = 'feature_' | append: i %}
                        <div class="feature">
                          <div class="feature-icon">
                            {{ 'leaves.svg' | inline_asset_content }}
                          </div>
                          <span class="{{ i }}">{{ block.settings[feature_title] }}</span>
                        </div>
                        {% endfor %}
                      </div>
                  </div>
                
                  <div class="ingredients-section">
                    <h2 class="ingredients-title">{{ block.settings.ingredients_title }}</h2>
                    <div class="ingredients-grid">
                        {% for i in (1..3) %}
                            {% assign ingredient_title = 'ingredient_title_' | append: i %}
                            {% assign ingredient_desc = 'ingredient_desc_' | append: i %}
                      <div class="ingredient-card">
                        <div class="ingredient-icon">
                          {{ 'active-leaves.svg' | inline_asset_content }}
                        </div>
                        <h3 {{ block.settings[ingredient_title] }} class="ingredient-title {{ i }}">{{ block.settings[ingredient_title] }}</h3>
                        <p {{ block.settings[ingredient_desc] }} class="ingredient-desc {{ i }}">{{ block.settings[ingredient_desc] }}</p>
                      </div>
                        {% endfor %}
                    </div>
                  </div>

                  <button class="customize-btn">{{ block.settings.customize_btn }}</button>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  <div class="pro-info-button-container">   
    <div class="pro-info-button-prev">
      <div class="swiper-btn">
      {% render 'swiper-prev-btn' %}
      </div>
    </div>
    <div class="pro-info-button-next">
      <div class="swiper-btn">
      {% render 'swiper-next-btn' %}
      </div>
    </div>
  </div> 

  </div>
</section>

          
 

<script src="{{ 'product-info-slider.js' | asset_url }}" defer></script>



{% schema %}
{
  "name": "Product Info Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Slide Title"
        },
        {
          "type": "text",
          "id": "feature_1",
          "label": "Feature Title 1"
        },
        {
          "type": "text",
          "id": "feature_2",
          "label": "Feature Title 2"
        },
        {
          "type": "text",
          "id": "feature_3",
          "label": "Feature Title 3"
        },
        {
          "type": "text",
          "id": "ingredients_title",
          "label": "Ingredients Title"
        },
        {
          "type": "text",
          "id": "ingredient_title_1",
          "label": "Ingredient Title 1"
        },
        {
          "type": "text",
          "id": "ingredient_desc_1",
          "label": "Ingredient Description 1"
        },
        {
          "type": "text",
          "id": "ingredient_title_2",
          "label": "Ingredient Title 2"
        },
        {
          "type": "text",
          "id": "ingredient_desc_2",
          "label": "Ingredient Description 2"
        },  
        {
          "type": "text",
          "id": "ingredient_title_3",
          "label": "Ingredient Title 3"
        },
        {
          "type": "text",
          "id": "ingredient_desc_3",
          "label": "Ingredient Description 3"
        },
        {
          "type": "text",
          "id": "customize_btn",
          "label": "Customize Button"
        }
        
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Info Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}